body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}
#Sec1{
    background-color: white;
    margin-left: 900px;
    margin-right: 900px;
    border-color:blue;
    border-width: 1;
    border-radius: 75px;
}
#imageTwitter{
width: 50px;
height:50px;
}
sup{
    margin-top:100px;
}
h1{
    font-size: 40px;
    color: white;
    font-family: 'yoen sung';
}
#Input1{
    width: 200px; 
    height: 30px;
   
}
#bird{
    width: 140px;
    height: 140px;
    border-radius: 40px;
}
#login{
    color: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}