h2{
    display:inline-block;
    background-color: blue;
    color: white;
    font-size: 40;
}
body{
  background-image:url("Avengers Picture.jpg");
  background-size: cover;
}
h1{
    color: white;
    background-color:cyan;
    font-size: 50;
    margin-left: 600px;
    margin-right: 600px;
}
#My_canvas{
    background-color:white;
}